@font-face {
  font-family: "Circular";
  src: url("./Circular-Std-Bold.ttf");
  font-weight:800;
  font-style: bold;
}
@font-face {
  font-family: "Circular";
  src: url("./Circular-Std-Book.ttf");
  font-weight:400;
  font-style: regular;
}
@font-face {
  font-family: "Circular";
  src: url("./Circular-Std-Medium.ttf");
  font-weight:600;
  font-style: medium;
}
