@import "/src/assets/css/responsive.scss";

.total-area {
  margin: 1em 0px;
  margin: 10px 0;
  text-align: right;
}

.total {
  font-size: 27.6px;
  font-weight: 600;
}

#resume-container {
  position: fixed;
  bottom: -220px;
  background: #F5F5F7;
  border: solid 1px #D2D2D7;
  width: 100vw;
  left: 30px;
  margin: 0 0 0 -3%;
  transition: all .6s ease-out;
  @include small {
    left: 10px;
  }
  @include mid-portrait {
    left: 20px;
  }
  @include large {
    left: 30px;
  }

  .container {
    padding: 0 1em;
    width: 90%;
    margin:10px auto;
    position: relative;
    .row {
      margin-bottom: 16px
    }
    .close {
      position: absolute
    }
  }
}

#call2action-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  .right {
    width: fit-content;
    text-align: right;
  }
}

.resume-active {
  bottom: 0 !important;
}


.detail {
  font-weight: 600;
}
